html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
.first-image{
    background-image: url(img/pic1\ \(1\).jpg);
    min-height: 400px;
}
.second-image{
    background-image: url(img/pic1\ \(2\).jpg);
    min-height: 400px;
    opacity: 0.8;
}
.third-image{
    background-image: url(img/pic1\ \(3\).jpg);
    min-height: 400px;
}
.fourth-image{
    background-image: url(img/pic4.jpg);
    min-height: 400px;
    opacity: 0.8;
}
.first-image, .second-image, .third-image, .fourth-image{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section{
    text-align: center;
    padding: 3rem 5rem;
}
.section-light{
    background-color: #f4f4f4;
    color: #0f0f0f;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.image{
    /* display: flex;    one way to achieve center text
    justify-content: center;
    align-items: center; */ 
    position: relative;
}
.image div{
    /* another way to achieve center text */
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: white;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 2rem;

}